
body{
     background-color: #18ebfa;
}

h1 {
    margin-left: 42%;
    color: white;
}


h2 {
 margin-left: 42%;
 color: white;

}

h3 {
 margin-left: 42%;
 color: white;

}

li {
 margin-left: 42%;
 color: white;
}

h4 {
margin-left: 42%;
color: white;
}

img {
    margin-left: 42%;
}